<article>
  <%= render 'postcode_search' %>

  <section class="results-view">
    <a href="/?postcode=<%= @postcode%>">List view</a>
    <a href="#">Map view</a>
  </section>

  <div class="map-container">
    <div id="map"></div>
  </div>
  <% content_for :header do %>
    <%= javascript_include_tag '//maps.google.com/maps/api/js' %>
    <script type="text/javascript">

      function initialize() {
        var bounds = new google.maps.LatLngBounds();
        var infowindow = new google.maps.InfoWindow();

        var mapDiv = document.getElementById("map");
        var latlng = new google.maps.LatLng(-34.397, 150.644);
        var mapOptions = {
          zoom: 4,
          center: latlng
        }

        var map = new google.maps.Map(mapDiv, mapOptions);

        <% @coffee_shops.each do |shop| %> 
          var marker = new google.maps.Marker({
            position: {lat: <%= shop.latitude %>, lng: <%= shop.longitude %>},
            map: map,
            title: "<%= shop.name %>"
          })

          // Extend the map bounds to fit the new marker
          bounds.extend(marker.position);

          // Add an infowindow
          google.maps.event.addListener(marker, 'click', (function(marker) {
            return function() {
              infowindow.setContent("<%= shop.name %> (<%= shop.popularity %>)");
              infowindow.open(map, marker);
            }
          })(marker));
        <% end %>

        map.fitBounds(bounds);
      }
      $(document).ready(initialize);
    </script>
  <% end %>
</article>